/* resim
body {
    display: block;
    background: url("res/walp4.png");
    background-position: center top;
    background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: black;
}
*/ /* video */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}



#video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    object-position: left; /* Videonun konumunu ayarlamak için */

}




/* Diğer CSS stilleri devam eder */


#baslikiki {
    width: 90%;
    text-shadow: 5px 4px 23px rgba(69,118,162,1);
    color: rgb(185, 200, 207);
    font-size: 35px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 20%;
}

.uzl {
    color: aliceblue;
}

.imza {
    left: 2%;
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0%;
}

.imza div {
    text-align: center;
    margin-top: 16px;
    width: 20px;
}

.imza a{
    text-shadow: 1px 1px rgb(121, 112, 112);
    text-decoration: none;

}

.imza div a {
    margin-left: 5px;
    text-decoration: none;
    color: rgb(145, 155, 163);
}





.linkler {
    width: 80%;
    left: 50%;
    top: 60%;
    position: absolute;
    display: flex;
    flex-direction: row;
    transform: translateX(-50%);
    flex-wrap: wrap; /* İçerikler sığmadığında alt satıra geçmeyi sağlar */
    justify-content: center; /* İçeriği ortalamak için */

}

.linkler div {
    text-align: center;
    width: 50px;
    padding: 5px;
    border:none;
    border-bottom: 2px solid black; /* Alt border */
    margin: 10px;
}

.linkler div a {
    text-decoration: none;
    color: rgb(145, 155, 163);
}

#inp-search {
    position: absolute;
    background: none;
    outline: none;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-bottom: 3px solid rgb(110, 164, 190);
    width: 70%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(175, 175, 175);
    text-align: center;
    
}


/* Diğer stiller devam ediyor */

.line {
    /* Diğer stiller */
    border: none;
    border-bottom: 3px solid rgb(255, 255, 255);
    position: absolute;
    top: calc(40% + 0px); /* inputun altına yerleştir, 30px boşluk bırak */
    left: 50%;
    transform: translateX(-50%) scaleX(0); /* ScaleX ile başlangıçta genişliği sıfıra ayarla */
    width: 100%;
    height: 20px;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out; /* Geçiş efektleri */
    transform-origin: bottom center; /* Genişleme merkezi alttan orta */
}

#inp-search:focus + .line {
    transform: translateX(-50%) scaleX(1); /* ScaleX ile genişlet */
    width: 72%; /* Genişliği arttır */
}

#inp-search::placeholder {
    text-shadow: 5px 4px 10px rgba(69,118,162,1);
    color: rgb(185, 200, 207);}

img{
    width: 30px;
}

